* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
}
#containerMenu {
    width: 100%;
    height: 3.5rem;
    border: solid 3px black;
}

#menu {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
    background-color: blue;
}

#logo {
    width: 6%;
    height: 2rem;
    background-image: url(/assets/img/640px-IMDB_Logo_2016.svg.png);
    background-size: cover;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

#search {
    width: 750px;
    height: 2.5rem;
}

#menuItem {
    width: 5%;
    height: 2.5rem;
    background-color: black;
    color: white;
    margin: 1%;
}

#input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#inputMenu {
    width: 7%;
    height: 2.5rem;
    background-color: white;
}

#imdbPro {
    width: 7%;
    height: 2.5rem;
    margin-right: 3%;
    margin-left: 3px;
}

#watchList {
    width: 7%;
    height: 2.5rem;
}

#signIn {
    width: 7%;
    height: 2.5rem;
}

#acceuil {
    width: 100%;
    height: 35rem;
    background-color: royalblue;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:  1%;
}

#caroussel {
    width: 64%;
    height: 100%;
    border: solid   2px red;
    margin-left: 1%;
}

#upNext {
    width: 35%;
    height: 100%;
    background-color: rgba(6, 255, 255, 0.7);
}

#tittleUpNext {
    color: #ffa600;
    margin-bottom: 10%;
}

#browseTrailer {
    margin-top: 5%;
}

.aside {
    width: 95%;
    height: 26%;
    border: solid 3px palevioletred;
    margin-left: 3%;
}

