* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#containerMenu {
    width: 100%;
    height: 3.5rem;
    position: absolute;
    border: solid 3px black;
}

#menu {
    width: 100%;
    height: 3.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: center;
    align-items: center;
    background-color: blue;
}

#logo {
    width: 6%;
    height: 2rem;
    background-image: url(/assets/img/640px-IMDB_Logo_2016.svg.png);
    background-size: cover;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

#search {
    width: 750px;
    height: 2.5rem;
}

#menuItem {
    width: 5%;
    height: 2.5rem;
    background-color: black;
    color: white;
    margin: 1%;
}

#input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#inputMenu {
    width: 7%;
    height: 2.5rem;
    background-color: white;
}

#imdbPro {
    width: 7%;
    height: 2.5rem;
    margin-right: 3%;
    margin-left: 3px;
}

#watchList {
    width: 7%;
    height: 2.5rem;
}

#signIn {
    width: 7%;
    height: 2.5rem;
}

